.body {
  position: relative;
  background-color: #00008b;

  .body-top-container {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 10px 0;
    .search {
      
      .input-search-box {
        margin: 0 5px 0 10px;
        padding: 5px;
        background-color:lightcyan;
      }
      .search-btn {
        border-radius: 5px;
        border-color: lightseagreen;
        background-color: lightseagreen;
        color: #ffffff;
        padding: 5px 8px;
        cursor: pointer;
      }
    }

    .filter-res {
      .filter-res-btn {
        border-radius: 5px;
        border-color: rgb(16, 222, 47);
        background-color: rgb(16, 222, 47);
        color: #ffffff;
        padding: 5px 8px;
        cursor: pointer;
      }

      .total-res {
        border-color: dodgerblue;
        background-color: dodgerblue;
        color: #ffffff;
      }
    }
  }
  .res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 5rem;
  }
}
