.body {
  position: relative;
  .body-top-container {
    display: flex;
    justify-content: space-around;

    .search {
      .input-search-box {
        margin: 0 5px 0 10px;
        padding: 5px;
      }
      .search-btn {
        border-radius: 5px;
        border-color: navy;
        background-color: navy;
        color: #ffffff;
        padding: 5px 8px;
        cursor: pointer;
      }
    }

    .filter-res {
      .filter-res-btn {
        border-radius: 5px;
        border-color: rgb(16, 222, 47);
        background-color: rgb(16, 222, 47);
        color: #ffffff;
        padding: 5px 8px;
        cursor: pointer;
      }

      .total-res{
        border-color: rgba(64, 12, 178, 0.968);
        background-color: rgb(20, 20, 232);
        color: #ffffff;
      }
    }
  }
  .res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 5rem;
  }
}
