.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  background-color: aqua;
  // box-sizing: border-box;
  .header-logo {
    top: 12px;
    img{
        width: 16%;
        margin-top: 5px;
    }
  }
  .header-ryt-side-items {
    ul {
        display: flex;
        list-style: none;
      li {
        font-size: 1.4rem;
        padding: 0 .25rem;
        color: #c55205;
      }

      .login-logout-btn{
        padding: 5px 10px;
        cursor: pointer;
        background-color: #c55205;
        color: #ffffff;
        border-radius: 5px;
        border: 1px solid #c55205;
        margin: 0 10px;
      }
    }
  }
}
