.res-card {
  width: 240px;
  border-radius: 10px;
  background-color: #f55f1f;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px;
  color: #ffffff;
  font-size:large;
  .res-logo {
    width: 230px;
  }
}
