.res-card {
  width: 200px;
  border-radius: 10px;
  background-color: #f55f1f;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px;
  color: #ffffff;
  font-size:large;
  .res-pic {
    width: 190px;
    display: flex;
    object-fit: cover;
    justify-content: center;
  }
}
