.search-wrapper{
    .input-search-box{
        margin: 0 5px 0 10px;
        padding: 5px;
    }
    .search-btn{
        border-radius: 5px;
        border-color: navy;
        background-color: navy;
        color: #ffffff;
        padding: 5px 8px;
        cursor: pointer;
    }
}