.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3.2rem 5rem 2rem 5rem;
  .shimmer-card {
    width: 190px;
    height: 280px;
    margin: 15px;
    -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
  }
}
